@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../login/img/predio.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    animation: fadeIn 1s ease-in-out;
}

.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(10px);
    padding: 40px;
    color: #fff;
    animation: fadeIn 1s ease-in-out;
}

.container h1 {
    font-size: 32px;
    text-align: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

form label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: fadeIn 1s ease-in-out;
    margin-top: 10px;
}

button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-top: 15px;
}

button:hover {
    background-color: transparent;
    color: #fff;
    transition: 0.3s;
}

.container input[type="email"] {
    margin-top: 10px;
    padding: 4px 6px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

.container input[type="email"]:focus {
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.container input[type="password"] {
    margin-top: 10px;
    padding: 4px 6px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

.container input[type="password"]:focus {
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.container input[type="text"] {
    margin-top: 10px;
    padding: 4px 6px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}